
{% extends 'base.html' %}

{% block body %}

    <div id="about" >
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <br> 
                   <br>
                  <img class="img-responsive" src="static/images/baseimage.webp" alt="#" />
                   
                </div>
                <div class="col-md-6">
                    <div class="heading margin_top_30">
                        <h2> Tweets?</h2>
                    </div>
                    <div class="full margin_top_20">
                        <p>" is an American microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read those that are publicly available. Users interact with Twitter through browser or mobile frontend software, or programmatically via its APIs. Prior to April 2020, services were accessible via SMS.</p>
                        
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}