{% extends 'userbase.html' %}

{% block body %}

<div style="background-color: rgba(172, 151, 57, 0.623);">

    <div class="container">
        <br>
     
            <h3>Predict tweets</h3>
        
    
    <form action="/predict" method="post">

        <br>
        <br>
      
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tweet Here</h5>
                        <!-- Departure -->
                        <input type="text" maxlength="800" size="40"name="tweets"  required="required">
                  </div>
                </div>
            </div>
            <br>
            <br>
            <br>

        </div>

        
<br>
        <!-- Submit -->
       <input type="submit" value="Submit" style="background-color:rgb(238, 234, 234); "btn btn-secondary">
    </form>

    <br>
    <br>
  <h3 style="color: rgb(19, 18, 18); "><b>{{ prediction_text }}</b></h3>
    <br>
    <br>
  


</div>
</div>
{% endblock %}