{% extends 'userbase.html' %}

{% block body %}
<!-- section -->
<div id="fruits" class="section dark_bg layout_padding left_white">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <div class="heading full text_align_center">
                    <h2 class="white_font full text_align_center">A Great way to Fly</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
           <div class="col-md-4 margin_top_30">
                <div class="full fr">
                    <img class="img-responsive" src="static/images/gallery1.png" alt="#" />
                </div>

                
                <div class="full text_align_center">
                    <h3 class="white_font"><br><strong class="theme_blue"></strong></h3>
                </div>   
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr">
                    <img class="img-responsive" src="static/images/gallery2.jpg" alt="#" />
                </div>
                <div class="full text_align_center">
                    <h3 class="white_font"><br><strong class="theme_blue"></strong></h3>
                </div>
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full fr">
                    <img class="img-responsive" src="static/images/gallery6.webp" alt="#" />
                </div>
                <div class="full text_align_center">
                    <h3 class="white_font"><br><strong class="theme_blue"></strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<div style="height: 20px; background-color: white;">

</div>
<!-- section -->
<div id="blog" class="section dark_bg layout_padding right_white">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <div class="heading full text_align_center">
                    <h2 class="white_font full text_align_center"></h2>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-4 margin_top_30">
                <div class="full" style="overflow: hidden;">
                <div class="full bl">
                    <img class="img-responsive" src="static/images/gallery5.png" alt="#" />
                </div>
                <div class="full blog_blue text_align_center">
                    <h5 class="white_font">To trust or not to trust</h3>
                   
                </div>
                 </div>  
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full" style="overflow: hidden;">
                <div class="full bl">
                    <img class="img-responsive" src="static/images/gallery7.png" alt="#" />
                </div> 
                <div class="full blog_blue text_align_center">
                    <h5 class="white_font">To trust or not to trust</h3>
                   
                </div>
                 </div>
            </div>
            <div class="col-md-4 margin_top_30">
                <div class="full" style="overflow: hidden;">
                <div class="full bl">
                    <img class="img-responsive" src="static/images/gallery1.png" alt="#" />
                </div> 
                <div class="full blog_blue text_align_center">
                    <h5 class="white_font">To trust or not to trust</h3>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<div style="height: 20px; background-color: white;">

</div>

{% endblock %}